Sublime/User/Package Control.merged-ca-bundle
Sublime/User/Package Control.user-ca-bundle
Sublime/User/SFTP.sublime-settings

Sublime/User/GoSublime-aux.sublime-settings
Sublime/User/GoSublime/osx-x64

Sublime/User/oscrypto-ca-bundle.crt
