<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WindowState</key>
	<dict>
		<key>name</key>
		<string>ScriptWindowState</string>
		<key>positionOfDivider</key>
		<real>689</real>
		<key>savedFrame</key>
		<string>34 137 940 891 0 0 1680 1028 </string>
		<key>selectedTabView</key>
		<string>description</string>
	</dict>
</dict>
</plist>
